@import "tailwindcss";

@layer components {
  .input-box {
    @apply w-full border p-3 rounded-lg focus:ring-2 focus:ring-blue-300 outline-none transition;
  }

  .primary-btn {
    @apply w-full text-white py-3 rounded-lg font-semibold hover:opacity-90 transition shadow-lg;
  }
}